/* Your styles should be mobile-first and responsive */
body{
  font-family: 'Ubuntu Mono', monospace;
  background-image: url('teaching-1552092162.jpg');
  background-repeat: repeat;
}

h1{
  text-align: center;
  color: white;
  font-size: 40px;
}

h4{
  margin: 0;
}

button{
  font-size: 18px;
  height: auto;
  width: 80px;
}

li{
  list-style-type: none;
}

.container{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  border: 2px solid black;
  padding: 40px;
  background-color: darkslateblue;
  color: white;
  opacity: .8;
  align-items: center;
}

.score{
  display: inline-flex;
  font-size: 18px;
}

.radioButton{
  font-size: 18px;
  line-height: 1.1em;
}

.restart{
  font-size: 16px;
  height: 50px;
  width: 160px;
}

.js-submit{
  text-align: center;
}

.center-submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  --Desktop View-- */

@media only screen and (min-width: 800px) {

  .radioAlign{
    padding: 10px 0;
  }

  .score{
    height: auto;
    display: inline-flex;
    width: auto;
    padding: 30px;
    color: white;
    float: right;
  }

  .container{
    height: auto;
    width:  50%;
    overflow: auto;
  }

  .radioButton{
    white-space: nowrap;
  }


}
/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
