/* Your styles should be mobile-first and responsive */
body{
  font-family: 'Ubuntu Mono', monospace;
  background-image: url('teaching-1552092162.jpg');
  background-repeat: repeat;
}

h1{
  text-align: center;
  color: white;
}

.container{
  width: 60%;
  margin: 100px auto;
  border: 2px solid black;
  padding: 40px;
  background-color: black;
  color: white;
}

.restart {
  font-size: 16px;
  height: 50px;
  width: 160px;
}

button {
  font-size: 16px;
  height: 40px;
  width: 80px;
}

li{
  list-style-type: none;
}
@media 
/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
